<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">{{'login.title' | translate}}</h4>
                        <p class="category">{{'login.subtitle' | translate}}</p>
                    </div>
                    <toaster-container [toasterconfig]="config1"></toaster-container>
                    <div class="card-content">
                        <form #f="ngForm" (ngSubmit)="login()" novalidate>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{'login.label_email' | translate}}</label>
                                        <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" ngModel required
                                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control">
                                    </div>
                                    <div class="md-errors-spacer" [hidden]="email.valid || email.untouched">
                                        <div *ngIf="f.submitted && email.errors && email.errors.required">
                                            {{'login_error.email_required' | translate}}
                                        </div>
                                        <div *ngIf="f.submitted && email.errors && email.errors.pattern">
                                            {{'login_error.email_invalid' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{'login.label_password' | translate}}</label>
                                        <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" ngModel required
                                               pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,20}/" class="form-control">
                                    </div>
                                    <div class="md-errors-spacer" [hidden]="password.valid || password.untouched">
                                        <div *ngIf="f.submitted && password.errors && password.errors.required">
                                            {{'login_error.pass_required' | translate}}
                                        </div>
                                        <div *ngIf="f.submitted && password.errors && password.errors.pattern">
                                            {{'login_error.pass_invalid' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">{{'login.label_passwordconfirmation' | translate}}</label>
                                        <input type="password" name="passwordconfirmation" [(ngModel)]="model.passwordconfirmation" #passwordconfirmation="ngModel" ngModel required
                                               pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{4,20}/" class="form-control">
                                    </div>
                                    <div class="md-errors-spacer" [hidden]="passwordconfirmation.valid || passwordconfirmation.untouched">
                                        <div *ngIf="f.submitted && passwordconfirmation.errors && passwordconfirmation.errors.required">
                                            {{'login_error.passwordconfirmation_required' | translate}}
                                        </div>
                                        <div *ngIf="f.submitted && passwordconfirmation.errors && passwordconfirmation.errors.pattern">
                                            {{'login_error.passwordconfirmation_invalid' | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" [disabled]="loading" class="btn btn-danger pull-left">{{'login.button_login_text' | translate}}</button>

                            <div class="clearfix"></div>
                        </form>
                        <div>
                            <p class="">Do not have an account yet?</p>
                            <button [disabled]="loading" routerLink="/register" class="btn btn-danger pull-right">{{'register.button_register_text' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>