<div class="wrapper">
    <div class="sidebar" data-color='red' data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(../assets/img/continuing-education-icon.gif)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
        <router-outlet></router-outlet>
        <div>
            <app-footer></app-footer>
        </div>
    </div>
</div>

